

# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

STAGE=dev

DATABASE_URL="postgresql://neondb_owner:npg_CrP1FneSgR4Y@ep-holy-wildflower-ai86xpny-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


# openssl rand -hex 16
NUXT_SESSION_PASSWORD="rojk3IqRy7x52TAAWJJmKwelfQXxs5gp"

# Cloudinary
# https://console.cloudinary.com/app/c-9321206fa82d3eb5e6c45472ae28c6/image/getting-start
CLOUD_NAME='dckgybjdm'
CLOUD_API_KEY='914669961386785'
CLOUD_API_SECRET='nI0mqkS58KLu-hewKfdHz-9kuiY'




